.navigation {
    padding: 2rem 0;
    background-color: $pink;
    height: 10vh;
    
    .menu {
        display: flex;
        justify-content: space-between;
        text-align: center;

        li {

            a {
                font-size: 14px;
                font-weight: bold;                
                color: #fff;
            }
        }
    }
}